:root {
    --blue: #23CAFF;
    --text-main: #AAAAB6;
    --text-heading: #fff;
    --grey-dark: #28282E;
    --transition-smooth: cubic-bezier(0.4, 0, 0.2, 1);
}


html, body {
    margin: 0;
}

body {
    background: #161618 url('./bg.svg') repeat fixed;
    font-family: 'Noto Sans', sans-serif;
    padding: 1.2rem;
    color: #fff;
}

p {
    color: var(--text-main);
    line-height: normal;
    font-size: 14pt;
    margin: 0;
}

p.small {
    font-size: 12pt;
    margin-top: 1rem;
}

p a {
    color: #fff;
    padding-bottom: .2rem;
    border-bottom: var(--grey-dark) 2px solid;
    transition: border-color 200ms var(--transition-smooth);
    text-decoration: none;
}

p a:hover {
    border-color: var(--blue);
}

header {
    text-align: center;
    padding: 5rem 0;
}

header h5 {
    margin: 0;
    font-size: 12pt;
    color: var(--blue);
    line-height: normal;
}

header h1 {
    margin: 0;
    font-size: 48pt;
    line-height: normal;
}

header a {
    border: 2px solid var(--grey-dark);
    display: inline-flex;
    align-items: center;
    margin-top: 1rem;
    transition: border-color 200ms var(--transition-smooth);
    font-weight: bold;
    color: #fff;
    padding: .7rem 1.6rem;
    text-decoration: none;
    border-radius: .4rem;
}

header a:hover {
    border-color: var(--blue);
}

header a svg {
    margin-right: 6px;
}

main {
    max-width: 720px;
    margin: 0 auto;
}

.req {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 4rem;
}

.req section {
    position: relative;
    display: inline-block;
}

.req .label .method {
    border: 1px solid var(--grey-dark);
    background: rgba(0,0,0,.2);
    padding: .1rem .3rem;
    color: var(--blue);
    border-radius: .3rem;
}

.req .tooltip {
    position: absolute;
    bottom: 120%;
    right: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 11pt;
    color: var(--text-main);
    cursor: pointer;
}

.req .tooltip svg {
    margin-right: .3rem;
}

.req p {
    font-size: 11pt;
    margin-top: .2rem;
}

.req .url {
    display: block;
    border: 1px solid var(--grey-dark);
    background: rgba(0,0,0,.38);
    border-radius: .5rem;
    padding: 1rem 1.6rem;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace, sans-serif;
    color: var(--text-main);
    position: relative;
}

.req .url:before {
    content: 'Copied!';
    position: absolute;
    bottom: 120%;
    left: 0;
    font-size: 11pt;
    right: 0;
    width: max-content;
    color: #fff;
    margin: 0 auto;
    border: 1px solid var(--grey-dark);
    background: rgba(0,0,0,0.2);
    padding: .1rem .6rem;
    border-radius: .3rem;
    transition: all 140ms var(--transition-smooth);
    transform: translateY(.5rem);
    opacity: 0;
    pointer-events: none;
}

.req .url.active:before {
    opacity: 1;
    transform: translateY(0);
}

.white {
    color: #fff;
}

.blue {
    color: var(--blue);
}

@media (min-width: 720px) {
    .req {
        grid-template-columns: 200px 1fr;
    }
}

.try {
    border: 1px solid var(--grey-dark);
    background: rgba(0,0,0,.38);
    border-radius: .5rem;
    padding: 2rem;
}

.result {
    border-radius: .5rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #000;
    display: flex;
    align-items: center;
}

.result #icon {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}

.result #ip {
    font-weight: bold;
}

.result #players {
    font-size: .8rem;
    color: var(--text-main);
}

#ping {
    display: flex;
    background: #000;
    border-radius: .4rem;
    border: 1px solid var(--grey-dark);
}

#ping div {
    flex: 0 1 auto;
    font-weight: bold;
    padding: .8rem 0 .8rem 1.2rem;
    word-break: keep-all;
    white-space: pre;
    color: var(--text-main);
}

#ping input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-weight: bold;
    font-size: inherit;
    padding: .8rem 0;
    color: #fff;
    font-family: inherit;
}

#ping button {
    background: none;
    border: none;
    border-left: 1px solid var(--grey-dark);
    outline: none;
    font-size: inherit;
    color: var(--blue);
    padding: .8rem 1.2rem;
    font-weight: bold;
    font-family: inherit;
    transition: var(--transition-smooth) 120ms all;
}

#ping button:hover {
    background: #161618;
    color: #fff;
    cursor: pointer;
}

#error {
    background: #f31c3b;
    font-weight: bold;
    color: #fff;
    margin-top: 1.2rem;
    padding: .8rem 1.2rem;
    border-radius: .4rem;
}

#loader {
    background: #161618;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 1.2rem;
    padding: .8rem 1.2rem;
    border-radius: .4rem;
}

footer {
    text-align: center;
    padding: 5rem 0;
}

footer h2 {
    font-size: 32pt;
    margin: 0 0 .4rem;
}